<!DOCTYPE html>
<html>
  <head>
    <title>WebScraper</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <span class="label label-success"><%= flash[:notice] %></span>
    <span class="label label-warning"><%= flash[:alert] %></span>
    <%= yield %>
  </body>
</html>
